<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5uhOG8W2lfETVHs4FPxvtv8uN72imXLs</string>
	<key>GCM_SENDER_ID</key>
	<string>738767356545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.foodordercihos</string>
	<key>PROJECT_ID</key>
	<string>foodordercihos</string>
	<key>STORAGE_BUCKET</key>
	<string>foodordercihos.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:738767356545:ios:00d410f50a92ae14f58380</string>
</dict>
</plist>
